@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('./styles/structure.css') */

body{
  font-family: 'Roboto', sans-serif;
}

/** Active Link on Navbar */
.active, .selected{
  color: rgb(252 233 106 / var(--tw-text-opacity));
}

.title{
  font-family: "DautherOfFortune";
}

@font-face {
  font-family: 'DautherOfFortune';
  src:  url('./styles/fonts/daughter_of_fortune/Daughter_of_Fortune.ttf') format('ttf');
}