@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('./styles/structure.css') */

body{
  font-family: 'Roboto', sans-serif;
}

/** Active Link on Navbar */
.active, .selected{
  color: rgb(252 233 106 / var(--tw-text-opacity));
}




.title{
  font-family: 'Kaushan Script', cursive; 
}

